.app__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.app__heading{
    display: flex;
    flex-direction: column;
}
.app__heading p{
    margin-top: 1px;
    align-items: center;
    position: absolute;
    margin-top: 60px;
    color: orange;

}
.app__menu a{
    text-decoration: none;
}
.app__menu a:hover{
    color:gold;
    border-bottom: 1px solid black ;
    transition: 0.5s ease;

}
.app__menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:2rem;
}
.app__menu-icon{
    display:none;
}
.app__close-btn{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    z-index:5;
    color:golden;
    background-color: black;
    overflow-x: hidden;
}
.close-btn-btn{
    margin-left: 90%;
}
.app__menu-bar a{
    text-align: center;
    text-decoration: none;
    color:gold;
    
}
.app__menu-bar li{
    margin-top: 20px;
    font-size: 2.3rem;
    cursor:pointer;
}
.app__menu-bar a:hover{
    border-bottom: 1px solid white ;
}
@media screen and (max-width:650px){
    .app__menu{
        display: none;
    }
    .app__heading{
        text-align: center;
        margin-left: 40px;
    }
    
    .app__menu-icon{
        display: flex;
    }
    .app__menu-btn-btn{
        border: none;
        color: black;
    }
    
}